{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static '/css/loginout.css' %}">
</head>
<body>
 <h1> Login to chat </h1>
 <div class="topnav">
  <a href="{% url 'index' %}">About Us</a>
  <a href="{% url 'row' %}">Around the world </a>
  <a href= "{% url 'usaState' %}">USA State</a>
  <a href="{% url  'usaDeath' %}">USA Confirmed Death</a>
  <a href="/chat/covid19">Live Group Chat</a>
</div>
   <form action="/login/" method="post">
        {% csrf_token %}
        <br>
        <br>
        <label>{{ form.username.label_tag }}</label>
        {{ form.username }} 
        <br>
        <br>
        <label>{{ form.password.label_tag }}</label>
         {{ form.password }}
        <br>
        <br>
        <input type="submit" class="button expanded" value="Login" />
        <input  type = "button" onclick="window.location.href='/register/';"value="Register">  
        </input>
        <br>
        {{ form.errors }}
    </form>
</body>
</html>
